.wrapper
  .header
    = render partial: "header"
  .body.accent-2.transparent
    .row
      .col.s12.m6
        = form_for @post do |f|
          .card.teal.lighten-5.lighten-5
            .card-content.gray-text
              %h3<
                新規投稿
              = f.text_field :title, placeholder: "Title"
              = f.text_area :body, placeholder: 'text'
              %a.waves-effect.waves-light.btn.red.lighten-2
                = f.submit "SENT"
